<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.reypol.RDPApp" version="1.0.0">
    <name>RDPApp</name>
    <description>Cordova Application</description>
    <author email="reik2k@hotmail.com" href="https://www.facebook.com/reik2k">abelprieto</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
</widget>
